@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

#main_canvas {
    width: 100%;
}

.computing {
    border-style: solid;
    border-width: 4px;
    border-color: #ed4613;
}

.computation-complete {
    border-style: solid;
    border-width: 4px;
    border-color: #4ded13;
}

.buttons-outer {
    margin-top: -6px;
    padding-top: 0px;
    text-align: center;
    width: 100%;
}

.buttons-inner {
    display: inline-block;
}

span.buttons-inner .btn {
    background: url('../images/button-bg.png');
    background-position: 0px 0px;
    color: #ffffff;
    display: inline-block;
    font-family: 'Open Sans', Myriad, Calibri, sans-serif;
    font-size: 1.3em;
    font-weight: 800;
    height: 40px;
    margin: 10px 5px 0px 10px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 160px;
}

span.buttons-inner .btn-long {
    font-size: 1em;
    height: 36px;
    padding-top: 14px;
}

span.buttons-inner .btn:hover {
    background-position: 0px -50px;
}

a#fractal-download {
    display: none;
}
