@import url("screen.css");
@import url("non-screen.css") handheld;
@import url("non-screen.css") only screen and (max-device-width:640px);

#canvas-outer {
    border: 0px;
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#main_canvas {
    width: 100%;
    height: 100%;
    z-index: 0;
}

#tracer_canvas {
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 1;
}

a#fractal-download {
    display: none;
}
